{% extends 'base.html.twig' %}

{% block title %} - Accueil{% endblock %}

{% block body %}
   
    <section class="container-fluid" id="presentation">
        
            <div class="row text-center p-5">
                <div class="col-12">
                    <h1>BIENVENUE CHEZ PRETTY BABY</h1> 
                </div>
            </div>
        
            <div class="row">
                <div class="col-1"></div>
                <div class="col-4 text-center" id="divpres">
                    <p>
                        Site de réservation de BaBy Shower, notre équipe vous propose un service clé en main pour organiser et réaliser votre baby shower en ile de france.
                        Possibilité de reserver en ligne pour des packages déja prédéfini, ou bien de réaliser un devis sur mesure en fonction de vos demandes. 
                        Pour cela n'hésitez pas à nous contacter sur notre formulaire de contact.<br>Bonne visite</p>
                
                </div>
                <div class="col-1"></div>
                <div class="carousel slide col-6" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="logo/logo.png" class="imgCaroussel" id="carouselimg" alt="image de baby shower en carousel"/>
                        </div>
                        {% for realisation in realisations %} 
                            <div class="carousel-item">
                                <img src="{{ ('images/realisations/' ~ realisation.img) }}" class="imgCaroussel d-flex" alt="photo principale {{ realisation.titre }}" id="carouselimg">
                            
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
       
    </section>
 
    <section class="container-fluid" id="realisations">
        <div class="row">
            <div class="col-12">
                <h2>NOS DERNIERES REALISATIONS</h2>
            </div>
        </div>

        <div class="row" >
            {% for realisation in realisations %}
                {% if loop.index <= 3 %} 
                    <div class="col-4">
                        <div class="card" id="divrealisation" >
                            <img src="{{ ('images/realisations/' ~ realisation.img) }}" class="card-img-top" alt="photo principale {{ realisation.titre }}" id="cardimg">
                            <div class="card-body" >
                                <h5 class="card-title">{{ realisation.titre }}</h5>
                                <p class="card-text">{{ realisation.description|u.truncate(150, '...', false) }}</p>
                            </div>
                            
                            <div class="card-body text-center p-4" >
                                <a href="{{ path('photo_all', {'id': realisation.id}) }}" class="btnoffres">Voir plus de photos</a>
                            </div>
                        </div>
                    </div>
                {% endif %}  
            {% endfor %}
        </div>
        <div class="row" >
            <div class="col-12 p-4 text-center">
            <a href="{{ path('realisations') }}" class="btnoffres">Voir toutes nos réalisations</a>
            </div>
        </div>
    </section>
 
    <section class="container-fluid" id="services">
        <div class="row" >
            <div class="col-12">
                <h2>LES ESSENTIELS POUR UNE BABY SHOWER</h2>
            </div>
            <div class="col-4 p-5">
                <div class="card text-center" id="divservice" >
                    <img id="icons" class="card-img-top" src="icons/mt-1967-icon02.png" alt="icon de decoration"/>
                    <div class="card-body">
                        <h2 class="card-title">Decorations</h2>
                        <p class="card-text">La première chose à penser est la décoration, celle ci est sous forme de thèmes ou sur mesure en fonction de votre demande.</p>
                        <p>Notre pack décoration comprends:</p></p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">Ballon</li>
                        <li class="list-group-item">Gobelet</li>
                        <li class="list-group-item">Serviette de table</li>
                        <li class="list-group-item">Accessoires (paillettes, banderole...)</li>
                    </ul>
                </div>
            </div>
            <div class="col-4 p-5">
                <div class="card text-center" id="divservice" >
                    <img id="icons" class="card-img-top" src="icons/mt-1967-icon01.png" alt="icon du menu"/>
                    <div class="card-body">
                        <h2 class="card-title">Repas</h2>
                        <p class="card-text">La deuxième chose à penser est le repas, pour vos inviter nous propons un forfait ou sur mesure en fonction de votre demande.</p>
                        <p>Notre pack repas comprends:</p></p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">Boisson (soft)</li>
                        <li class="list-group-item">Gateaux</li>
                        <li class="list-group-item">Bonbons</li>
                        <li class="list-group-item">Sablés</li>
                    </ul>
                </div>
            </div>
            <div class="col-4 p-5">
                <div class="card text-center" id="divservice">
                    <img id="icons" class="card-img-top" src="icons/mt-1967-icon03.png" alt="icon cadeaux"/>
                    <div class="card-body">
                        <h2 class="card-title">Cadeaux & Souvenirs</h2>
                        <p class="card-text">La dernière chose à penser sont les souvenirs, ceux ci sont correspondants au thème choisi ou sur mesure en fonction de votre demande.</p>
                        <p>Notre pack souvenirs comprends:</p></p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">Souvenir d'une activité</li>
                        <li class="list-group-item">Petit sablé</li>
                        <li class="list-group-item">Sachet surprise</li>
                        <li class="list-group-item">Une photo de groupe</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid" id="offres">
        <div class="row p-4">
            <div class="col-12">
                <h2>NOS OFFRES</h2>
            </div>
        
            <div class="col-4 ">
                <div class="card text-center" id="divoffres">
                    <div class="card-body">
                        <h2 class="card-title">BASIQUE</h2>
                        <h3>299€</h3>
                        <p class="card-text">Ce forfait comprend :</p>
                        <div class="row p-4">
                            <ul class="list-group list-group-flush">
                                <li class="list-group">Un pack décoration</li>
                                <li class="list-group">Un pack souvenir</li>
                                <li class="list-group"> </li>
                                <li class="list-group"> </li>
                            </ul>
                        </div>
                            
                        <div class="row p-4">
                            <div class="col-4"></div>
                            <div class="col-4">
                                <a class="btnoffres" href="{{ path('reservations', {'id': 'basic'}) }}">RESERVEZ</a>
                            </div>
                            <div class="col-4"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card text-center" id="divoffres1">
                    <div class="card-body">
                        <h2 class="card-title">MEDIUM</h2>
                        <h3>399€</h3>
                        <p class="card-text">Ce forfait comprend :</p>
                        <div class="row p-4">
                            <ul class="list-group list-group-flush">
                                <li class="list-group">Un pack décoration</li>
                                <li class="list-group">Un pack souvenir</li>
                                <li class="list-group">Un pack REPAS</li>
                                <li class="list-group"> </li>
                            </ul>
                        </div>
                        <div class="row p-4">
                            <div class="col-4"></div>
                            <div class="col-4">
                                <a class="btnoffres" href="{{ path('reservations', {'id': 'basic'}) }}">RESERVEZ</a>
                            </div>
                            <div class="col-4"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card text-center" id="divoffres">
                    <div class="card-body">
                        <h2 class="card-title">LUXE</h2>
                        <h3>499€</h3>
                        <p class="card-text">Ce forfait comprend :</p>
                        <div class="row">
                            <ul class="list-group list-group-flush">
                                <li class="list-group">Un pack décoration</li>
                                <li class="list-group">Un pack souvenir</li>
                                <li class="list-group">Un pack repas</li>
                                <li class="list-group">Une sceance Photo</li>
                            </ul>
                        </div>
                        <div class="row p-4">
                            <div class="col-4"></div>
                            <div class="col-4">
                                <a class="btnoffres" href="{{ path('reservations', {'id': 'basic'}) }}">RESERVEZ</a>
                            </div>
                            <div class="col-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </section>
    
    <section class="container-fluid" id="contact">
        <div class="row">
            <div class="col-12">
                <h2>NOUS CONTACTER</h2>
            </div>
            <div class="col-6">
                <div class="divcontact">
                    <a href="index.html">
                    <img class="logocontact" src="logo/logo.png" alt="logo du site">
                    </a>
                </div>
            </div>
            <div class="col-6 p-2">
                <div class="formulaire">
                    <form method="post" action="formulairecontact.php" id="form">
                        <div class="tabcontact">
                                <input type="text" class="tabform" name="nom" placeholder="Votre Nom*">
                                <input type="text" class="tabform" name="prenom" placeholder="Votre Prénom*">
                                <input type="email" class="tabform" name="email" placeholder="Votre Email*">
                                <input type="tel" class="tabform" name="telephone" placeholder="Votre numero de telephone*">
                                <textarea name="comment" class="tabform" cols="80" rows="10" placeholder="Votre message..."></textarea>
                        
                            <div class="btnformulaire">
                                <input type="reset" class="btnform" value="EFFACER">
                                <input type="submit" class="btnform" value="ENVOYER">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid" id="livredor">
        <div class="row p-4">
            <div class="col-12">
                <h2>COMMENTAIRES CLIENT</h2>
            </div>
            {% for comment in comments|reverse %}
                {% if comment.publish  == true %}
                    <div class="col-4 ">
                        <div class="card text-center" id="divoffres">
                            <div class="card-body">
                                <h2 class="card-title">{{ comment.fkidrealisations.titre}}</h2>
                                <p class="card-text"><i class="fas fa-quote-left"></i> {{ comment.comment }} <i class="fas fa-quote-right"></i></p>
                            </div>
                            <div class="card-body text-center p-4" >
                                <a href="{{ path('photo_all', {'id': comment.fkidrealisations.id}) }}" class="btnoffres">Voir les photos</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
