{% extends 'baseAdmin.html.twig' %}

{% block title %} - Disponibilités{% endblock %}

{% block body %}
    <div class="row text-center">
        <h1>Gestion Dates de Disponibilités</h1>
    </div>

    {{ form_start(dispoForm) }}

        <div class="row p-5">
        
            <div class="col-6 offset-3">
                {{ form_row(dispoForm.date_dispo) }}
            </div>
            

            <div class="col-6 offset-3 p-3">
                {{ form_row(dispoForm.isBook, {'label': 'Cocher si reservé'}) }}
            </div>
            
            
        </div>
       

        <div class="col-6  offset-3 d-flex justify-content-end">
            <a href="{{ path('dispo_list') }}" class="btn btn-secondary m-3">Terminer</a>
            <button class="btn btn-success m-3">Enregistrer</button>
        </div>

    {{ form_end(dispoForm) }}

{% endblock %}