{% extends 'base.html.twig' %}

{% block title %} - Utilisateurs{% endblock %}

{% block body %}
    <section class="container-fluid" id="reservation">
        
        <div class="row text-center p-5">
            <div class="col-12 p-5">
                <h1>ACCUEIL UTILISATEUR</h1>
            </div>
            
            <div class="col-5">
                <div>
                    <a href="{{ path('home') }}">
                    <img class="logocontact" src="{{ asset('logo/logo.png') }}" alt="logo du site">
                    </a>
                </div>
            </div>
            <div class="col-7 pb-5">
                <div class="col-9 p-5">
                    <h4>Gérez vos adresses, coordonnées et consultez vos reservations</h4>
                </div>
                <div class="row pb-4">
                    <div class="col-3"><h4>Coordonnées</h4></div>
                    <div class="col-3"><h4>Adresses</h4></div>
                    <div class="col-3"><h4>Reservations</h4></div>
                </div>
                <div class="row">
                    <div class="col-3"><a href="{{ path('coordonnee_index') }}" class="btn btnform m-2">Voir Plus</a></div>
                    <div class="col-3"><a href="{{ path('adresse_index') }}" class="btn btnform m-2">Voir Plus</a></div>
                    <div class="col-3"><a href="{{ path('reservation_index') }}" class="btn btnform m-2">Voir Plus</a></div> 
                </div>
                <div class="row">
                    <div class="col-9 text-center p-5">
                        <a href="{{ path('app_logout') }}" title="déconnexion" class="btn btnform m-2">Deconnexion</a>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row">


        </div>
    </section>
{% endblock %}
